  <ion-content class="padding  bgazul" >
  <img src="assets/img/bg.png"class="btnfull"> 
  </img>
      <div style="    padding-top: 416px;">
      <div ng-hide="authData"   ng-click="loginfb()">
        <img src="assets/img/btnFb.png" class="btnImg">
        </img>
      </div>
       <div> 
        <img src="assets/img/btnEmail.png"class="btnImg"> 
        </img>
      </div>
      </div>
      <!-- <div class="card" ng-show="authData">
        <div class="item item-text-wrap">
          Hello {{authData.facebook.displayName}}!
        </div>
      </div> -->
<!-- 
     <div class="list padding20">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Login</span>
           <input type="number" ng-model="login.user" name="user" placeholder="user" class="form-control" required>
          </label>

          <label class="item item-input item-stacked-label">
              <span class="input-label">Senha</span>
               <input type="password" ng-model="login.password" name="password" placeholder="Senha / Password" class="form-control" required>
            </label>

      </div>
      <div class="col">
           <button type="submit" class="button button-block button-positive item" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
            <i class="ace-icon fa fa-key"></i>
            Login
           </button>
       </div>
 -->
       </ion-content>


